* {
    margin: 0;
    padding: 0;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
}

.main-container {
    width: 40%;
    background-color: #ef4056;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.shake {
    animation: shake 200ms;
    animation-iteration-count: 1;
}

.register-form-logo {
    padding: 1% 0;
    margin: 1% 0 2%;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

.register-form {
    margin: 2% 0;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.register-form-input {
    padding: 2% 4%;
    margin: 2% 0;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

.register-form-input::placeholder, .register-form-input {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.warning-lable {
    display: none;
    width: 60%;
    padding: 2% 4%;
    color: red;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.384);
    font-weight: bold;
    font-size: 18px;
}

.submit-button {
    padding: 2.5% 7%;
    margin: 2% 0 1%;
    border: none;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
